<mat-card align="center">
    <h1>Regresión lineal</h1>
    <input
      type="file"
      class="file-input"
      accept=".csv, .xlsx"
      #file
      (change)="onChange(file.files)"
    />
  
    <div class="file-upload">
      {{ fileName || "Seleccione archivo" }}
      <br>
      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="file.click()"
      >
        <mat-icon>upgrade</mat-icon>
      </button>
  
      <br />
    </div>
    <br />
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Atributo 1</mat-label>
        <input matInput type="text" (keyup)="onChangeX($event)">
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Atributo 2</mat-label>
        <input matInput type="text" (keyup)="onChangeY($event)">
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary" (click)="onUpload()" class="btn btn-success">
        Enviar
    </button>
    <br />
  </mat-card>
  <br />
  <br />
  <mat-card id="hidden">
    <p>{{ valoresP }}</p>
    <br />
    <img [src]="rutaImg" />
    <br />
    <p>Tabla de datos:</p>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Datos x">
          <th mat-header-cell *matHeaderCellDef>Datos x</th>
          <td mat-cell *matCellDef="let element">{{ element["Datos x"] }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Datos y">
          <th mat-header-cell *matHeaderCellDef>Datos y</th>
          <td mat-cell *matCellDef="let element">{{ element["Datos y"] }}</td>
        </ng-container>
  
        <ng-container matColumnDef="Regresión Lineal">
          <th mat-header-cell *matHeaderCellDef>Regresión Lineal</th>
          <td mat-cell *matCellDef="let element">
            {{ element["Regresión Lineal"] }}
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
        aria-label="Select page of data"
      >
      </mat-paginator>
    </div>
  </mat-card>