<!-- <mat-toolbar color='teal'>
  <span>
    Modelamiento y Simulación
  </span>

  <div class="spacer"></div>
  <a mat-button routerLink="unidad1">Unidad 1</a>
  <a mat-button routerLink="unidad2">Unidad 2</a>
  <a mat-button routerLink="perfil"> <mat-icon>face</mat-icon>Perfil</a>
</mat-toolbar> -->
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name">Modelamiento y Simulación</h1>
    <div class="spacer"></div>
    
    <a mat-button (click)="snav1.toggle(); snav2.close()">Unidad 1</a>
    <a mat-button (click)="snav2.toggle(); snav1.close()">Unidad 2</a>
    <a mat-button (click)="snav1.close(); snav2.close()" routerLink="perfil"> <mat-icon>face</mat-icon>Perfil</a>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav1>
      <mat-nav-list>
        <a mat-list-item (click)="snav1.close()" routerLink="unidad1">Introducción Pandas</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav #snav2>
      <mat-nav-list>
        <a mat-list-item (click)="snav2.close()" routerLink="unidad2">Estadistica</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
