<mat-card align="center">
    <h1>Extracción con pandas</h1>
    <input type="file" class="file-input" #file (change)="onChange(file.files)" />
  
    <div class="file-upload">
      {{ fileName || "Seleccione archivo" }}
  
      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="file.click()"
      >
        <mat-icon>upgrade</mat-icon>
      </button>
  
      <br />
    </div>
    <br />
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Atributo 1</mat-label>
        <input matInput type="text" (keyup)="onChangeX($event)">
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <br /><br />
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Atributo 2</mat-label>
        <input matInput type="text" (keyup)="onChangeY($event)">
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <br />
    <br />
    <button mat-flat-button color="primary" (click)="onUpload()" class="btn btn-success">
      Cargar datos
    </button>
    <br />
    <ng-container *ngIf="llegaronDatos">
      <h3>Datos analizados</h3>
      <br />
      <img [src]="datosImg" />
      <br />
      <h3>Grafica</h3>
      <br />
      <img [src]="graficaImg" alt="" />
    </ng-container>
  </mat-card>