<div id="container">

    <div class="product-details">

        <h1>Andres Gonzalo Mendoza Parraga</h1>
        <span class="hint-star star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>

        <p class="information">"Estudiante de la Universidad Laica Eloy Alfaro de Manabí,
            actualmente año 2021(1) cursa el 6to semestre de la carrera
            de ingienería en tecnología de la información (TIC) en la facultad
            de ciencia informáticas (FACCI)"</p>

    </div>

    <div class="product-image">

        <img src="../../assets/imagenes/perfil.jpg" alt="Omar Dsoky">

        <div class="info">
            <h2>Información de contacto</h2>
            <ul>
                <li><strong>Dirección: </strong>Rocafuerte-Manabí-Ecuador</li>
                <li><strong>Calle: </strong>Entre av.6 de diciembre y pedro carbo</li>
                <li><strong>Telefono: </strong>0959192893</li>
                <li><strong>Correo: </strong>andresmendoza911200@gmail.com</li>
            </ul>
        </div>
    </div>


</div>